:root {
  --primary-black-color:#000000;
  --primary-white-color:#ffffff;
  --secondary-text-color:#545454;
  --tertiary-grey-color:#818181;
  --main-highlight-color:#FF6B08;
  --main-error-highlight:#ff001b;
  --backdrop-grey-txt-color:#8C8C8C;
  --backdrop-highlight-color:#FF6B01;
  --footer-bg-color:#F7F7F7;
}
html {
    box-sizing: border-box;
  }

  .container{
    @include mq(mobile-only){
      padding: 0 20px;
    }
    @include mq(mobile){
      width: 320px;
      padding: 0 20px;
    }
  @include mq(tablet){
    width: 768px;
    padding: 0 75px;
  }
    @include mq(desktop){
    width: 1024px;
    padding: 0 75px;
  }
}  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    padding: 0px;
  }
  img {
    display: block;
  }
  p {
    margin: 0px;
  }
  
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  a{
  text-decoration: none;
  }

  @keyframes spinner-line-fade-more {
    0%, 100% {
      opacity: 0; /* minimum opacity */
    }
    1% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
      opacity: 0.25; /* minimum opacity */
    }
    40% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-fade-default {
    0%, 100% {
      opacity: 0.22; /* minimum opacity */
    }
    1% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-shrink {
    0%, 25%, 100% {
      /* minimum scale and opacity */
      transform: scale(0.5);
      opacity: 0.25;
    }
    26% {
      transform: scale(1);
      opacity: 1;
    }
  }