@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --primary-black-color:#000000;
  --primary-white-color:#ffffff;
  --secondary-text-color:#545454;
  --tertiary-grey-color:#818181;
  --main-highlight-color:#FF6B08;
  --main-error-highlight:#ff001b;
  --backdrop-grey-txt-color:#8C8C8C;
  --backdrop-highlight-color:#FF6B01;
  --footer-bg-color:#F7F7F7;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 320px) {
  .container {
    width: 320px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 75px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 75px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .container .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container .container {
    width: 1024px;
  }
}

p {
  margin: 0;
}

.gallery {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (274px)[1];
      grid-template-columns: repeat(1, 274px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .gallery {
    gap: 20px;
    -ms-grid-columns: (274px)[2];
        grid-template-columns: repeat(2, 274px);
  }
}

@media (min-width: 1024px) {
  .gallery {
    gap: 30px;
    -ms-grid-columns: (274px)[3];
        grid-template-columns: repeat(3, 274px);
  }
}

.movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 274px;
  height: 440px;
  text-decoration: none;
}

.movie-card__img {
  display: block;
  height: 398px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.movie-card__info {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 10px;
}

.movie-card__info-name {
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
}

.movie-card__info-item {
  color: #ff6b08;
}

.card__rating {
  border-radius: 5px;
  background-color: #ff6b08;
  padding: 1px 6px 1px 6px;
  margin-left: 10px;
}

.card__rating--text {
  color: #ffffff;
  line-height: 14px;
  text-align: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  /*  $hd: 1920px; */
  /*  $hd: 1920px; */
  /*  $hd: 1920px; */
}

@media (min-width: 1024px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.56))), url(../images/header.img/dt@1x.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)), url(../images/header.img/dt@1x.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*  $hd: 1920px; */
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.56))), url(../images/header.img/dt@2x.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)), url(../images/header.img/dt@2x.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.56))), url(../images/header.img/tablet@1x.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)), url(../images/header.img/tablet@1x.jpg);
    /*  $hd: 1920px; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023.98px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1023.98px) and (min-resolution: 2dppx) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.56))), url(../images/header.img/tablet@2x.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)), url(../images/header.img/tablet@2x.jpg);
  }
}

@media (max-width: 767.98px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.56))), url(../images/header.img/mobile@1x.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)), url(../images/header.img/mobile@1x.jpg);
    /*  $hd: 1920px; */
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.56))), url(../images/header.img/mobile@2x.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)), url(../images/header.img/mobile@2x.jpg);
  }
}

.container {
  width: 100%;
  height: 230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*  $hd: 1920px; */
  /*  $hd: 1920px; */
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .container .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container .container {
    width: 1024px;
  }
}

.header-container {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  padding-left: 7%;
  padding-right: 7%;
  height: 230px;
  width: 100%;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17em;
  /*  $hd: 1920px; */
  /*  $hd: 1920px; */
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .header-container {
    width: 768px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

@media (min-width: 1024px) {
  .header-container {
    width: 1024px;
  }
}

.header-logo {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50px;
  left: 8%;
  /*  $hd: 1920px; */
}

@media (min-width: 768px) {
  .header-logo {
    left: 61px;
  }
}

.logo-icon {
  margin-right: 0px;
  /*  $hd: 1920px; */
}

@media (min-width: 768px) {
  .logo-icon {
    margin-right: 10px;
  }
}

.logo-word {
  display: none;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  /*  $hd: 1920px; */
}

.logo-word:hover {
  color: #ff6b08;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .logo-word {
    display: block;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 36px;
  padding-right: 0;
}

.header-nav__item:not(:first-child) {
  margin-left: 40px;
}

.header-nav__btn.current {
  position: relative;
}

.header-nav__btn.current:after {
  content: '';
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #ff6b08;
}

.search-form__container {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  top: 70px;
}

.search-form {
  width: 280px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*  $hd: 1920px; */
}

.search-form:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .search-form {
    width: 336px;
  }
}

.search-form__input {
  padding: 0px;
  padding-bottom: 4px;
  padding-left: 2px;
  width: 100%;
  background: none;
  border-style: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;
}

.search-form__input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form__input:-ms-input-placeholder {
  color: #ffffff;
}

.search-form__input::-ms-input-placeholder {
  color: #ffffff;
}

.search-form__input::placeholder {
  color: #ffffff;
}

.search-form__submit {
  position: absolute;
  padding: 0;
  margin: 0;
  background: none;
  border-style: none;
  height: 20px;
  width: 20px;
  right: 0;
  bottom: 0;
}

.search-icon {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.header-nav__btn {
  background: none;
  color: #ffffff;
  border: none;
}

.header-nav__btn:hover {
  color: #ff6b08;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-result-message {
  color: #ff001b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.goodby_modal {
  display: none;
}

.backdrop_close {
  position: absolute;
  margin: 0;
  top: 18px;
  right: 18px;
}

.backdrop_close button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
}

.backdrop_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 570px;
  width: 880px;
  background-color: #fff;
}

.backdrop_modal ul {
  list-style: none;
}

.backdrop_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 360px;
      grid-template-columns: 400px 360px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin: 50px 30px;
}

.backdrop_content h1 {
  margin-top: 0;
}

.backdrop_modal__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 200px;
      grid-template-columns: 100px 200px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.backdrop_modal__info ul {
  padding-left: 0;
}

.backdrop_modal__info ul span {
  background-color: #ff6b01;
  color: #fff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.backdrop_modal__info ul li {
  margin-bottom: 10px;
}

.backdrop_modal__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 150px;
      grid-template-columns: 150px 150px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.backdrop_modal__buttons button {
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.backdrop_modal__buttons button:hover {
  background-color: #ff6b01;
  border: none;
}

.backdrop_image img {
  border-radius: 10px;
  height: 480px;
  width: 400px;
}
/*# sourceMappingURL=main.css.map */