<header class="header">
    <div class="header-container header-home">

        <!-- LOGO  -->
        <a href="./index.html" class="link header-logo">
            <svg class="logo-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-film"></use>
        </svg>
            <p class="logo-word">Filmoteka</p>
        </a>

        <!-- NAV BTN -->
        <ul class="header-nav">
            <li class="header-nav__item">
                <button class="header-nav__btn current">HOME</button>
            </li>
            <li class="header-nav__item">
                <button class="header-nav__btn">MY LIBRARY</button>
            </li>
        </ul>

        <!-- Search form -->
        <div class="search-form__container">
            <form class="search-form">
                <input class="search-form__input" placeholder="Поиск фильмов" />
                <button class="search-form__submit" type="submit">
                    <svg class="search-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search-2"></use>
                    </svg>
                </button>
            </form>
            <div class="search-result-message">Search result not successful. Enter the correct movie name</div>
        </div>
</header>