<div class="backdrop goodby_modal" data-modal>
    <!-- <div class="backdrop_modal">
        <p class="backdrop_close">
            <button type="button">X</button>
        </p>
        <div class="backdrop_content">
            <div class="backdrop_image">
                <img src="./images/modalImgCap/No-Image-Placeholder.svg.png" alt="">
            </div>
            <div class="backdrop_modal__description">

                <h1>A FISTFUL OF LEAD</h1>
                <div class="backdrop_modal__info">
                    <ul>
                        <li>Vote / votes</li>
                        <li>Popularity</li>
                        <li>Original Title</li>
                        <li>Genre</li>
                    </ul>
                    <ul>
                        <li><span>7.3</span> / 1260</li>
                        <li>100.2</li>
                        <li>A FISTFUL OF LEAD</li>
                        <li>Western</li>
                    </ul>
                </div>
                <p>About</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, sunt? Accusamus impedit ullam ex nihil odio dolorum, vero eligendi temporibus fuga quod eius sapiente voluptas tenetur qui dicta earum? Culpa.</p>
                
                <div class="backdrop_modal__buttons">
                    <button type="button" data-watched>
                        ADD TO WATCHED
                    </button>
                    <button type="button" data-queue>
                        ADD TO QUEUE
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>